@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
:root{
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}
body{
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
main{
    margin-top: 2em;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.header{
    background-color: var(--Soft-red);
    display: flex;
}
.balance-div p{
    color: black;
}
.balance-div{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-right: auto;
}
.balance-div p{
    color: white;
}
.balance-div h2{
    color: var(--Very-pale-orange);
    font-size: 1.8em;
}
.current-balance{
    color: white;
}
.header img{
    width: 4.5em;
}
.header, .visuals-container{
    padding: 1.5em;
    border-radius: 1em;
}
.visuals-container{
    background-color: white;
}
.visuals-title,.amount-spent,.percentage-spent{
    color: var(--Dark-brown);
}
.visuals-title{
    margin-bottom: 1.75em;
}
.chart-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: .65em;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid var(--Very-pale-orange);
    min-height: 15em;
}
.bar{
    height: 5px;
    background-color: var(--Soft-red);
    border-radius: .2em;
    position: relative;
    cursor: pointer;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bar.highest{
    background-color: var(--Cyan);
}
.bar:hover{
    opacity: .7;
}
.baar{
    align-self: flex-end;
}
.name{
    color: var(--Medium-brown);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar::before{
    content: attr(content);
    position: absolute;
    top: -2.5em;
    background-color: var(--Dark-brown);
    color: white;
    padding: .4em;
    font-size: .95em;
    border-radius: .3em;
    display: none;
}
.bar.unhide::before{
    display: block;
}
/* .bar::after{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
    color: var(--Medium-brown);
} 
 .bar:nth-child(1)::after{
    content: "mon";
}
.bar:nth-child(2)::after{
    content: "tue";
}
.bar:nth-child(3)::after{
    content: "wed";
}
.bar:nth-child(4)::after{
    content: "thu";
}
.bar:nth-child(5)::after{
    content: "fri";
}
.bar:nth-child(6)::after{
    content: "sat";
}
.bar:nth-child(7)::after{
    content: "sun";
} */
.amount-change-container{
    display: flex;
    align-items: flex-end;
}
.amount-spent{
    font-size: 2.5em;
}
.percentage-spent, .amount-spent{
    color: var(--Dark-brown);
    font-weight: 700;
}
.percentage-change-container{
    text-align: right;
    margin-bottom: .5em;
    margin-left: auto;
}
.faint-brown{
    color: var(--Medium-brown);
}
@media(max-width:600px){
    main{
        width: 90%;
        max-width: 356px;
    }
    .amount-spent{
        font-size: 1.95em;
    }
    .bar::before{
        content: attr(content);
        position: absolute;
        top: -2.5em;
        right: -10px;
        background-color: black;
        color: white;
        padding: .3em;
        font-size: .8em;
        border-radius: .3em;
        display: none;
    }
}
.attribution {
    margin: 2em 0;
    font-size: 11px;
    color: var(--Medium-brown);
    text-align: center;
  }
  .attribution a {
    color: var(--Soft-red);
  }
